<div class="container cust-tab">
    <div class="row clearfix custTableBase">
        <div class="col-md-12 column mb10 ct-btn">
            <button class="btn btn-info ct-merger" >合并</button>
            <button class="btn btn-info ct-reset" >还原</button>
        </div>
        <div class="col-md-12 column" >
                <div class="table-wrap custTable" style="height:auto;width:400px;border: solid 1px dodgerblue;" >
                    <div class="ct-head" >
                        <div class="ct-head-e">
                            <div class="ct-head-i"></div>
                        </div>

                    </div>
                    <div class="ct-body">
                        <div class="ct-body-i"></div>
                    </div>
                </div>
        </div>
    </div>
</div>